{% trans_default_domain 'FOSUserBundle' %}

<div id="registration">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {#{{ form_widget(form) }}#}
    {#{{ dump(form) }}#}

    {{ form_errors(form) }}

    <div class="input-group">
        {{ form_label(form.username) }}
        {{ form_widget(form.username, { 'attr': {'class': 'form-control'}} )  }}
        {{ form_errors(form.username) }}
    </div>

    <div class="input-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, { 'attr': {'class': 'form-control'}} )  }}
        {{ form_errors(form.email) }}
    </div>

    <div class="input-group">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'}} )  }}
        {{ form_errors(form.plainPassword.first) }}

    </div>

    <div class="input-group">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'}} )  }}
    </div>

    {{ form_rest(form) }}

    <div>
        <input  class="btn btn-info" type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
</div>
